@model DAL.Models.Domain.Training.LIPTrainingDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>LIPTrainingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LIPTrainingId" class="control-label"></label>
                <select asp-for="LIPTrainingId" class="form-control" asp-items="ViewBag.LIPTrainingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>           
            <div class="form-group">
                <label asp-for="PSCRanking" class="control-label"></label>
                <input asp-for="PSCRanking" class="form-control" />
                <span asp-validation-for="PSCRanking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LIPNumber" class="control-label"></label>
                <input asp-for="LIPNumber" class="form-control" />
                <span asp-validation-for="LIPNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

