
@{
    ViewBag.Title = "Result Framework";
    ViewBag.pTitle = "Result Framework";
    ViewBag.pageTitle = "Dashboard";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<style>
    .card-body{
        padding: .8rem;        
    }
</style>
<div class="row">
    
    <div class="col-xl-12">
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Total Beneficiaries</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">56,610</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Direct Female Beneficiaries</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">11,142</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Direct Refugees Beneficiaries</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">8,615</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Beneficiaries of Job-focused Interventions</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">15,000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Beneficiaries of Job-focused Interventions - Female</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">6,000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Beneficiaries of Job-focused Interventions - Refugees</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">1,600</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Profitability of Enterprises</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">20.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Profitability Enterprises Female</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">20.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">% of Enterprises Supported</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">20.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">% of Female-Owned Enterprises</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">30.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- end row -->
        @*<h5>Intermediate Results Indicators</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Community-based Platforms Supported</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">850.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Technical Resource Trained</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">60.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Local Facilitator Trained</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">100.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Individual Supported through LIPs</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">60.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Individual Businesses Supported through IPs</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">50.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Enterprise Supported through EDPs</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">15.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Implementation Plan for Citizens' Engagement</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">60.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">Local Female Facilitator Trained</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">50.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium font-size-14">No of Refugees trained</p>
                                <h4 class="mb-3">0.0</h4>
                                <span class="badge badge-soft-info font-size-14"> 0.0% </span> <span class="ml-2 text-truncate text-muted font-weight-bold">Achieved</span>
                            </div>
                            <div class="text-center">
                                <span class="badge badge-pill badge-soft-success font-size-14">15.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    </div>
