@model DAL.Models.Domain.ToolApp.ToolModule

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ToolModule</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ToolModuleName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
