@model IEnumerable<DAL.Models.Domain.ToolApp.DropdownMenu>
    
@foreach (var item in Model) {
    @if (item.DropdownMenuName.Equals("District") && ViewBag.IsDistrictExist == 1)
    {                
            <div class="form-group">
                <label class="control-label">@item.DropdownMenuName</label>
                <select id="DistrictId" class="form-control" asp-items="ViewBag.DistrictId">
                    <option value=""> - - Select - -</option>
                </select>                
            </div>
        
    }
    else if (item.DropdownMenuName.Equals("LIPPackage") && ViewBag.IsLIPPackageExist == 1)
    {            
                <div class="form-group">
                    <label class="control-label">@item.DropdownMenuName</label>
                <select id="PackageId" class="form-control" asp-items="ViewBag.PackageId">
                        <option value=""> - - Select - -</option>
                    </select>
                </div>
                <div class="form-group">
                <label class="control-label">Beneficiary</label>
                <select id="BeneficiaryId" class="form-control">
                        <option value=""> - - Select - -</option>
                    </select>
                </div>
    }
} 
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>    
    $(document).ready(function () {      
        $("#DistrictId").change(function () {
            var DName = $("#DistrictId").val();
            var PName = $("#PackageId").val();
            fetch(DName, PName);
        });
        $("#PackageId").change(function () {
            var DName = $("#DistrictId").val();
            var PName = $("#PackageId").val();
            fetch(DName, PName);
        });
    });
    function fetch(DName, PName) {       
        if (DName != "" && PName != "") {
            $.get("/DropdownenuAccesses/GetBeneficiaryList", { districtName: DName, packageName: PName }, function (data) {
                $("#BeneficiaryId").empty();
                $("#BeneficiaryId").append('<option>Select...</option>');
                console.log(data);
                $.each(data, function (index, row) {
                    console.log(row);
                    $("#BeneficiaryId").append("<option value='" + row.value + "'>" + row.text + "</option>")
                });
            });
        }
    }
</script>