@model DAL.Models.Domain.ToolApp.DropdownenuAccess

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>DropdownenuAccess</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DropdownenuAccessId" />
            <div class="form-group">
                <label asp-for="ToolId" class="control-label"></label>
                <input asp-for="ToolId" class="form-control" />
                <span asp-validation-for="ToolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropdownMenuName" class="control-label"></label>
                <input asp-for="DropdownMenuName" class="form-control" />
                <span asp-validation-for="DropdownMenuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolModuleName" class="control-label"></label>
                <input asp-for="ToolModuleName" class="form-control" />
                <span asp-validation-for="ToolModuleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

