
<meta charset="utf-8" />
<title>BLEP - Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="BLEP Balochistan" name="description" />
<meta content="Kafil uddin Ahmed" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/blep.ico">